<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.plyr.io/3.6.8/plyr.css" />
    {% if base_url %}
      <link rel="icon" type="image/x-icon" href="{{base_url}}/favicon.ico" />
    {% endif %}
    {% if base_url and config.generate_feed %}
      <link rel="alternate" type="application/rss+xml" href="{{base_url}}/index.xml"
            title="RSS Feed" />
    {% endif %}
    <!-- Preload -->
    <link
      rel="preload"
      as="font"
      crossorigin
      type="font/woff2"
      href="https://cdn.plyr.io/static/fonts/gordita-medium.woff2"
    />
    <link
      rel="preload"
      as="font"
      crossorigin
      type="font/woff2"
      href="https://cdn.plyr.io/static/fonts/gordita-bold.woff2"
    />
    {% assets "all_css" %}
      <link rel="stylesheet" href="{{ ASSET_URL }}" />
    {% endassets %}
    <title>{{title}}</title>
    {% if base_url %}
      <meta property="og:image" itemprop="image" content="{{base_url}}/covers/og-image.jpg">
    {% endif %}
  </head>

  <body>
    <div id="app"></div>
    <script type="text/javascript">
      const songs = {{songs | tojson}};
      const songDescription = {{config.song_description | tojson}};
      const pageTitle = {{config.title | tojson}};
      const pageDescription = {{config.description | tojson }};
    </script>
    {% assets "all_js" %}
      <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
  </body>
</html>
